<!DOCTYPE html>
<html>
    <head>
        {% block header %}{% endblock %}
        <!-- <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" /> -->
        <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
        <script type="text/javascript" src="../static/js/jquery-1.7.1.min.js"></script>
    </head>
    <style>
        body {
          background-image: url("../static/imgs/frame3.jpg");
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-position: center;
        }
        .horizontal { 
            display: inline; 
            margin-right: 1%;
            background-color: aqua; 
        }
    </style>
    <body>
        <div style="text-align: center;" id="nav">
            <br>
            <ul>
                {% block nav %}{% endblock %}
                <li class="horizontal"><a href="{{url_for('main')}}">Home</a></li>
                <li class="horizontal"><a href="{{url_for('about')}}">About</a></li>
                <li class="horizontal"><a href="{{url_for('contact')}}">Contact</a></li>
                {% if 'username' in session %}
                <!-- <li><a href="{{url_for('search')}}">Search for a music</a></li> -->
                <li class="horizontal"><a href="{{url_for('music')}}">music</a></li>
                <li class="horizontal"><a href="{{url_for('login')}}">logout</a>
                {% else %}
                <li class="horizontal"><a href="{{url_for('login')}}">login</a>
                {% endif %}
            </ul>
        </div>
        <br>
        <div style="text-align: center;" id="content">
            {% block body %}{% endblock %}
        </div>
        
        <br>
        <br>
        <div style="text-align: center;" id="flashed">
            {% with messages = get_flashed_messages() %}
            {% for message in messages %}
                {{message}}
            {% endfor %}
            {% endwith %}
        </div>
    </body>
</html>
